<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>

<body>
  <div class="dialog" align='center'>
    <div>

      <h1>The page you were looking for doesn't exist.</h1>
      <img src="https://s-media-cache-ak0.pinimg.com/236x/3d/d2/13/3dd2131461d175675b695d667b305950.jpg" />
      <h3>Something went wrong. Sorry about that.</h3>
      <p>You know what'll make that better?</p>
      <p> <em>Fresh delicious artisan, fair-trade, organic coffee from the mountaints of Peru </em></p>
      <%= link_to "Abandoned Camel Coffee Mercantile", root_path %>
    </div>
  </div>
</body>
</html>
