<h1>Your Most Recent Order</h1>

<table class="table table-striped" id="order-table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
    <% @order.contents.each do |id, quantity| %>
      <tr>
        <td><%= Bean.find(id).title %></td>
        <td><%= quantity %></td>
        <td><%= Bean.find(id).price %></td>
      </tr>
    <% end %>
</table>
<div id="total">
  <p>Total: $<%= @order.total_price %></p>
</div>
