<h1 align = center>Abandoned Camel Coffee Mercantile</h1>

<div class="container">

  <div class="jumbotron">
    <div class="row">
      <div class ="col-md-6">
        <h2 align=center>About Us</h2>
        <p>
          Your trusted source for organic, fair-trade, non-GMO liquid happiness.
          We're happy to have you. Please enjoy yourself browsing around and
          buy some happiness.
        </p>
        <p align=center><a class="btn btn-success btn-lg" href="/beans" role="button">Shop Now</a></p>
      </div>
      <div class="col-md-6">
        <img src="http://www.stanscoffee.com/wp-content/uploads/2014/11/coffee_bag.jpg" alt="coffee bag">
      </div>
    </div>
</div>
